.card{
    box-shadow: 2px 2px 8px rgba(0,0,0, .3);
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    background: white;
    height: 300px;
    width: 700px;
    
  }
  title{
    font-size: 30px;
    color: blue;
  }
  
  body{
    margin: 0;
  }

  *{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
    
  }
    
  .button{
    display: flex;
    justify-content: end;
  }
  button{
    font-size: 40px;
  }
  h1{
    text-align: left;
  }
  h2{
    text-align: right;
  }